@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

p {
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    color: #6b7280 ;
}

@media screen and (max-width: 700px) {
    p {
        font-size: 17px;
        margin: 5%;
    }

}